<mat-drawer-container class="example-container example-container-custom" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="push">
    <app-file-browser [dataView]="dataView"></app-file-browser>
  </mat-drawer>
  <div class="example-sidenav-content">
    <button class="toggle-sidenav" (click)="drawer.toggle()" mat-icon-button color="primary"
      aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <app-data-view #dataView>

    </app-data-view>
  </div>
</mat-drawer-container>
